# vi temp files filter
*~

# Oracle repository files
.rpd

# Eclipse project files filter
.settings/
.project
.classpath

# jdeveloper project files filter
.idea/
*.iml

# Intellij project files filter
.idea/
*.iml
*.iws

# Netbeans
nbactions.xml
nb-configuration.xml

# Maven build artefacts filter
target/
settings.xml

# jacoco
*.exec

# Ignore patch and diff files
*.patch
*.diff
*.orig

# Other ignored stuff
*.class
*.temp
*.jar
*.war
*.pdf
*.ear
*.svar
*.log
*.tar
*.zip
*.gz
*.gzip
*.dump
*.gitignore
/.metadata/
/.recommenders/
